@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.TAG {
  padding: $padding;
  border: $border;
}

.TAG[data-is-active="true"] {
  color: $white;
  background-color: $black;
}