

.big__font {
  font-size: 16rem;
  letter-spacing: -0.5rem;
  border: 1px solid red;
}

.medium__font {
  font-size: 8rem;
  letter-spacing: -0.25rem;
  border: 1px solid blue;
}

.small__font {
  border: 1px solid lime;
}