@font-face {
  font-family: 'HelveticaNeueMedium';
  src: url('../assets/fonts/HelveticaNeueMedium.woff2') format('woff2');
  font-weight: medium;
  font-style: normal;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: 'HelveticaNeueMedium';
  font-size: 1.6rem;
}