@font-face {
  font-family: 'HelveticaNeueMedium';
  src: url('../assets/fonts/HelveticaNeueMedium.woff2') format('woff2');
  font-weight: medium;
  font-style: normal;
}

body {
  font-family: 'HelveticaNeueMedium';
}