@import './variables.scss';

@mixin text-crop($line-height: 1.3, $top-adjustment: 0px, $bottom-adjustment: 0px) {
  // Configured in Step 1
  $top-crop: 7.5;
  $bottom-crop: 7;
  $crop-font-size: 30;
  $crop-line-height: 1.2;
  // Apply values to calculate em-based margins that work with any font size
  $dynamic-top-crop: max(($top-crop + ($line-height - $crop-line-height) * ($crop-font-size / 2)), 0) / $crop-font-size;
  $dynamic-bottom-crop: max(($bottom-crop + ($line-height - $crop-line-height) * ($crop-font-size / 2)), 0) / $crop-font-size;
  // Mixin output
  line-height: $line-height;
  &::before,
  &::after {
    content: '';
    display: block;
    height: 0;
    width: 0;
  }
  &::before {
    margin-bottom: calc(-#{$dynamic-top-crop}em + #{$top-adjustment});
  }
  &::after {
    margin-top: calc(-#{$dynamic-bottom-crop}em + #{$bottom-adjustment});
  }
}

@mixin tablet-xs {
  @media (min-width: 600px) { @content; }
}

@mixin tablet-pt {
  @media (min-width: 768px) { @content; }
}

@mixin tablet-ls {
  @media (min-width: 1024px) { @content; }
}

@mixin desktop-sm {
  @media (min-width: 1200px) { @content; }
}

@mixin desktop {
  @media (min-width: 1440px) { @content; }
}
@mixin desktop-lg {
  @media (min-width: 1800px) { @content; }
}

@mixin black() {
  color: $black;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: normal;
}

@mixin white() {
  color: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin noScrollBar() {
  -ms-overflow-style: none;
  scrollbar-width: none;
  *::-webkit-scrollbar {
    display: none;
  }
}

@mixin noBounce () {
  overscroll-behavior: none;
}

@mixin italic () {
  font-style: italic;
}

@mixin HW100 () {
  height: 100%;
  width: 100%;
}

@mixin H100 () {
  height: 100%;
}

@mixin gridCenter () {
  display: grid;
  place-items: center;
}

@mixin padding () {
  padding: $padding;
}

@mixin pointer () {
  cursor: pointer;
}

@mixin transparent () {
  opacity: 0;
  z-index: -1;
  user-select: none;
  pointer-events: none;
}