@import './fonts.scss';
@import './mixins.scss';
@import './variables.scss';

html {
  text-rendering: optimizeLegibility;
  min-height: -webkit-fill-available;
}

body {
  @include black();
  @include noBounce();
}

*, ::after, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  @include noScrollBar();
}

*::selection {
  @include white();
  background-color: $main;
}

*::placeholder {
  color: inherit;
  opacity:  1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: inherit;
}

ul, li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  outline: 0;
  &:active,
  &:hover {
    outline: 0
  }
}

em {
  font-style: normal;
}

input {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  &:focus {
    outline: none;
  }
}

button {
  background-color: none;
  outline: none;
  border: none;
}

button,
input,
textarea,
section {
  font: inherit;
}