@import './mixins.scss';
@import './fonts.scss';

html {
  text-rendering: optimizeLegibility;
}

body {
  font-family: 'Helvetica Neue';
  @include black();
  @include noScrollBar();
  @include noBounce();
}

*, ::after, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul, li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  outline: 0;
  &:active, &:hover {
    outline: 0
  }
}

em {
  font-style: normal;
}