@import './variables.scss';

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-family: sans-serif;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}

*, ::after, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul, li {
  list-style: none;
}