@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.wrapper__header {
  position: sticky;
  padding: $padding $padding 0 $padding;
}

.container__header {
  display: flex;
  justify-content: space-between;
}